<h2>List of Pokemon!</h2>
<% @pokemons.each do |pokemon| %>
<p>#<%= pokemon.id %>: <%= pokemon.name %>, a <%= pokemon.poke_type %> type Pokemon. Learn more on <a href = "/pokemons/<%= pokemon.id %>"><%= pokemon.name %>'s page</a>!</p>


<% end %>

<a href = 'pokemons/new'> NEW POKEMON </a>
