<h2>EDIT <%= @trainer.name %></h2>

<form action="/trainers/<%= @trainer.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Name:</label>
  <input type="text" name="trainer[name]" value="<%= @trainer.name %>">
  <label>Type(s):</label>
  <input type="text" name="trainer[level]" value="<%= @trainer.level %>">
  <label>Img_URL:</label>
  <input type="text" name="trainer[img_url]" value="<%= @trainer.img_url %>">
  <label>Team ID:</label>
  <input type="text" name="trainer[team_id]" value="<%= @trainer.team_id %>">
  <input type="submit" value="Update">
</form>
<a href = "/trainers/<%= @trainer.id %>"><%= @trainer.name %>'s page</a>
<br>
<a href = '/trainers'> INDEX </a>

<br>
<br>
<form action="/trainers/<%= @trainer.id %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="submit" value="Fire <%= @trainer.name %>">
</form>
