<h2>List of Trainers!</h2>
<% @trainers.each do |trainer| %>
<p>#<%= trainer.id %>: <%= trainer.name %>, a trainer at level <%= trainer.level %>. Learn more on <a href = "/trainers/<%= trainer.id %>"><%= trainer.name %>'s page</a>!</p>


<% end %>

<a href = 'trainers/new'> NEW TRAINER </a>
